@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model StackOverflow.Models.Question

<div class="well">
        <h2>@Model.Title</h2>
        <hr />
        <p>@Model.Content</p>
</div>
