@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<StackOverflow.Models.Question>

<h2>Questions</h2>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listQuestion in Model)
        {
            <li><a href="~/Questions/Details/@listQuestion.QuestionId">@Html.DisplayFor(modelQuestion => listQuestion.Title)</a></li>
        }
    </ul>

}
else
{
    <p>No questions have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")
